nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') NEEDS
    ul.nav.navbar-nav.navbar-right
      li 
        a(href='/') Home
      li 
        a(href='/about') About
      li 
        a(href='/needs') Needs